// Mixins in here
.flexbox(@j,@a){
    display: flex;
    justify-content: @j;
    align-items: @a;
}

.direction(@dir){
    display: flex;
    flex-direction: @dir;
}


.margin{
    margin-left:20px;
    margin-right:20px;
}


.custom-btn (@width:150px, @bg-color:teal, @color:white) {
    display:block;
    background-color:@bg-color;
    margin: 0 20px 0 0;
    padding:10px 5px 5px 5px;
    width:@width;
    height:40px;
    font-size:2em;
    border-radius:10px;
    color:@color;
    text-align: center;
    background-color: teal;
    animation-name: example;
    animation-duration: 10s;
    @keyframes example {
        from {background-color: teal;}
        to {background-color: greenyellow;}
      }
    }